{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
Cart
{% endblock %}

{% block content %}
{% if not cart_items %}
<br>
<br>
<br>
<br>
<div>
    <br><br><br>
    <h2 class="empty-cart-text">Empty Cart</h2>
    <br>
    <p class="click-here-text">Click <a class="here-text" href="{% url 'home' %}"> here </a> to go back</p>
    <br><br><br><br>
</div>
{% else %}
<div class="text-center">
    <p class="shopping-cart-text">
        Shopping Cart
    </p>
</div>
<br>
<div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-6">
        <table class="table">
           <thead>
               <tr>
                   <th class="thead-text" colspan="4">
                      Items
                   </th>
               </tr>
           </thead>
           {% for cart_item in cart_items %}
           <tr>
               <td>
                   <a href="cart_item.product.get_url">
                       <img src="{{cart_item.product.image.url}}" width="100" height="100" alt="">
                   </a>
               </td>
               <td>
                   {{cart_item.product.name}}
                   <br>
                   SKU: {{cart_item.product.id}}
                   <br>
                   Price: {{cart_item.product.price}} 
                   <br>
                   Quantity: {{cart_item.quantity}} x {{cart_item.product.price}}
               </td>
               <td>
                   Total: {{cart_item.total}}
               </td>
               {% if cart_item.quantity < cart_item.product.stock %}
               <td>
                   <a class="add-quantity try " href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus"></i></a>
                   <a class="try" href=""><i class="fas fa-minus"></i></a>
                   <a class="try" href=""><i class="far fa-trash-alt"></i></a>
               </td>
               {% else %}
                <a class="try2" href=""><i class="fas fa-minus"></i></a>
                <a class="try2" href=""><i class="far fa-trash-alt"></i></a>
               {% endif %}
           </tr>
           {% endfor %}
       </table>
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
       <table class="table">
           <thead>
               <tr>
                   <th class="thead-text" olspan="4">
                       Check Out
                   </th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td class="text-center">
                      Order Summary
                   </td>
               </tr>
               <tr>
               <td class="total-price">
                <strong>Total: {{total}}</strong>
               </td>
               </tr>
               </tbody>
       </table>
       <div>
           <form class="pay-with-card-button" action="" method="POST">
               {% csrf_token %}
               <script src="https://checkout.stripe.com/checkout.js"
               class="stripe-button"
               data-key="{{ data_key }}"
               data-amount="{{ stripe_total }}"
               data-name="Beauty Bounty"
               data-description="{{ description }}"
               data-locale="auto"
               data-currency="usd"
               data-shipping-address="true"
               data-billing-address="true"
               data-zip-code="true">
               </script>
           </form>
               <a href="{% url 'home' %}" class="btn hvr-float-shadow go-back-button">Go Back</a>
       </div>
    </div>
</div>
{% endif %}
{% endblock %}