{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
Cart
{% endblock %}

{% block content %}
{% if not cart_items %}
<br>
<br>
<br>
<br>
<div>
    <h2>Empty Cart</h2>
    <br>
    <p>Click<a href="{% url 'home' %}">here</a>to go back</p>
</div>
{% else %}
<br>
<br>
<br>
<div class="text-center">
    <p class="shopping-cart-text">
        Shopping Cart
    </p>
</div>
<br>
<div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-6">
       <table class="table">
           <thead>
               <tr>
                   <th class="thead-text" olspan="4">
                       Check Out
                   </th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td class="text-center">
                      Order Summary
                   </td>
               </tr>
               <tr>
               <td>
                <strong>Total: {{total}}</strong>
               </td>
               </tr>
               </tbody>
       </table>
       <div>
           <a href="{% url 'home' %}">
               <button type="button" class="btn bg-dark text-light">Go Back</button>
           </a>
       </div>
    </div>

    <div class="col col-sm-12 col-md-6 col-lg-6">
        <table class="table">
           <thead>
               <tr>
                   <th class="thead-text" colspan="4">
                      Items
                   </th>
               </tr>
           </thead>
           {% for cart_item in cart_items %}
           <tr>
               <td>
                   <a href="cart_item.product.get_url">
                       <img src="{{cart_item.product.image.url}}" width="100" height="100" alt="">
                   </a>
               </td>
               <td>
                   {{cart_item.product.name}}
                   <br>
                   SKU: {{cart_item.product.id}}
                   <br>
                   Price: {{cart_item.product.price}} 
                   <br>
                   Quantity: {{cart_item.quantity}} x {{cart_item.product.price}}
               </td>
               <td>
                   Total: {{cart_item.total}}
               </td>
               {% if cart_item.quantity < cart_item.product.stock %}
               <td>
                   <a href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus"></i></a>
                   <a href="quantity-icons"><i class="fas fa-minus"></i></a>
                   <a href="quantity-icons"><i class="far fa-trash-alt"></i></a>
               </td>
               {% else %}
                <a href="quantity-icons"><i class="fas fa-minus"></i></a>
                <a href="quantity-icons"><i class="far fa-trash-alt"></i></a>
               {% endif %}
           </tr>
           {% endfor %}
       </table>
    </div>
</div>
{% endif %}
{% endblock %}