{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
Thank you
{% endblock %}

{% block content %}
  <div>
      <br><br><br>
      <div class="row">
        <img src="{% static 'images/thank_you.jpg' %}"  class="thank-you-img"alt="">
    </div>
    <br><br>
      <h5 class="order-number-text">Your order number is : <b> {{ order.id }}</b></h5><br>
      <p class="confirmation-text">Feel free to contact our support team if you have any questions</p>
      <br><br>
      {% if request.user.is_authenticated and request.user.first_name %}
      <p class="confirmation-text">Click <a class="click_here"href="{% url 'history' %}">here</a> to view order history</p>
     {% else %}
     <p class="confirmation-text">To view order history click <a class="click_here"href="{% url 'login' %}">here</a> to register</p>
     {% endif %}

  </div>
{% endblock %}'