<footer>
    <div class="container inline-block">
        <div class="row">
            <div class="col">
                <div>
                    <h4 class="about-footer-text">About Us</h4>
                    <p>Beauty Bounty is the place where all beauty lovers come to discover and purchase the best beauty products of the season.From makeup, skincare even fragrances we want to make sure you have the best products in your vanity because we believe that when you look good, you feel good!</p>
                </div>
                <div class="col6 s6 m6">
                    <h4 class="contact-footer-text">Contact</h4>
                    <a class="contact-by-email"href="mailto:loveglam14@gmail.com">loveglam14@gmail.com</a>
                    <h6>+45 31 87 80 13</h6>
                    <p>Operating hours are from 7am - 2pm EST, Monday to Sunday, excluding holidays </p>
                    <h4 class="connect-footer-text">Connect</h4>
                    <ul class="list-inline socials">
                        <li><a class="list-inline-item social-icons hvr-bounce-in"
                                href="https://www.instagram.com/vasiliaxzibit/" target="_blank"><i
                                    class="fab fa-instagram prefix" aria-hidden="true"></i><span
                                    class="sr-only">Instagram</span></a></li>
                        <li><a class="list-inline-item social-icons hvr-bounce-in"
                                href="https://www.facebook.com/vasilia.xzibit" target="_blank"><i
                                    class="fab fa-facebook-f prefix" aria-hidden="true"></i><span
                                    class="sr-only">Facebook</span></a></li>
                        <li><a class="list-inline-item social-icons hvr-bounce-in"
                                href="https://www.youtube.com/channel/UC-u1GYx9G1DYBpufa3GyPlg" target="_blank"><i
                                    class="fab fa-youtube prefix" aria-hidden="true"></i><span
                                    class="sr-only">Youtube</span></a></li>
                        <li><a class="list-inline-item social-icons hvr-bounce-in"
                                href="https://twitter.com/Vasilei21527901" target="_blank"><i
                                    class="fab fa-twitter prefix" aria-hidden="true"></i><span
                                    class="sr-only">Twitter</span></a></li>
                    </ul>
                </div>
                <div>
                <p class="copyright">Copyright &copy; 2020 Beauty Bounty</p>
                </div>
            </div>
        </div>
    </div>


</footer>

<main class="container">
		{% block content %}
		{% endblock %}
	</main>
