<nav class="navbar navbar-expand-md nav-extended bg-dark fixed-top">
        <a class="navbar-brand" href="/">Beauty Bounty</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item dropdown"><a class="nav-link" href="{% url 'home' %}">All Products</a></li>
                <li class="nav-item dropdown"><a class="nav-link px-3" href="" data-toggle="dropdown">Brands</a>
                    {% for category in links %}
                    <div class="dropdown-content dropdown-menu">
                        <a class="dropdown-item" href="{{category.category_url}}">{{category.name}}</a>{% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link px-3" href="" data-toggle="dropdown">New</a>
                    <div class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="">Color Pop Cosmetics</a>
                        <a class="dropdown-item" href="">Fenty Skin</a>
                        <a class="dropdown-item" href="">Ofra</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link px-3" href="" data-toggle="dropdown">Best Sellers</a>
                    <div class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="">All</a>
                        <a class="dropdown-item" href="">Makeup</a>
                        <a class="dropdown-item" href="">Fragrance</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link px-3" href="" data-toggle="dropdown">Fragrances</a>
                    <div class="dropdown-menu dropdown-content">
                        <a class="dropdown-item" href="">All</a>
                        <a class="dropdown-item" href="">Kayali</a>
                        <a class="dropdown-item" href="">Chanel</a>
                        <a class="dropdown-item" href="">Giorgio Armani</a>
                        <a class="dropdown-item" href="">Yves Saint Laurent</a>
                    </div>
                </li>
                <div class="vasilia">
                    {% if request.user.is_authenticated and request.user.first_name %}
                <li class="nav-item"><span class="nav-link px-3 hvr-bounce-in"><i class="fas fa-user navbar-icons"></i>{{ request.user.first_name }} </span>
                </li>
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'logout' %}"><i class="fas fa-user navbar-icons"></i>Logout</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="">Logout</a>
                </li>
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'login' %}"><i class="fas fa-user navbar-icons"></i></a>
                </li>
                {% endif %}

                <!-- <li class="nav-item"><a class="nav-link px-3" href="" data-toggle="dropdown">Login</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="" data-toggle="dropdown">Register</a></li> -->
                <li class="nav-item dropdown"><a class="nav-link px-3" href="" data-toggle="dropdown"><i
                            class="fas fa-search search navbar-icons"></i></a>
                    <form class="form-inline dropdown-content dropdown-menu dropdown-search-bar">
                        <div>
                            <input type="text" placeholder="Search">
                            <div>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                     </form>
                </li>
                {% if item_count > 0 %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'cart_detail' %}" data-toggle="dropdown"><i class="fas fa-shopping-bag navbar-icons"></i> ({{item_count}})</a>
                {% endif %}
                </li>
                </div>
            </ul>
        </div>
    </nav>