<nav class="navbar navbar-expand-lg navbar-light primary_color">
            
            <a class="navbar-brand" href="/">Beauty Bounty</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
                <ul class="navbar-nav ml-auto">
<li class="nav-item dropdown"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="{% url 'all_products' %}">Products</a></li>
            <li class="nav-item dropdown"><a class="nav-link px-4" href="" data-toggle="dropdown">Categories</a>
                {% for category in links %}
                <div class="dropdown-content dropdown-menu">
                    <a class="dropdown-item" href="{{category.category_url}}">{{category.name}}</a>{% endfor %}
                </div>
            </li>
            <div class="navbar-icons ml-auto">
                {% if request.user.is_authenticated and request.user.first_name %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'history' %}"><i
                            class="fas fa-user navbar-icons"></i> {{ request.user.first_name }}</a>
                </li>
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'logout' %}"><i
                            class="fas fa-sign-out-alt navbar-icons"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'login' %}"><i
                            class="fas fa-user navbar-icons"></i></a>
                </li>
                {% endif %}

                {% if item_count > 0 %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'cart_detail' %}"
                        data-toggle="dropdown"><i class="fas fa-shopping-bag navbar-icons"></i> ({{item_count}})</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-3 hvr-bounce-in" href="{% url 'cart_detail' %}"
                        data-toggle="dropdown"><i class="fas fa-shopping-bag navbar-icons"></i></a>
                    {% endif %}
                </li>
               
                    <form action="{% url 'search' %}" , method="GET">
                        <div class="input-group w-100">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                            <input class="form-control border border-black rounded-0" type="text" name="product" placeholder="Search">
                        </div>
                    </form>

            </div>
          
           
        </ul>
        
            
        </div>
</nav>




