{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
Product 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <img class="product-image" src="{{product.image.url}}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <div>
                <h1 class="product-name">{{product.name}}</h1>
                <p class="product-price">${{product.price}}</p>
                <p class="product-details-text">Product Details</p>
                <p class="product-details">{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p class="product-status">Out Of Stock</p>
                {% else %}
                {% if product.stock <= 10 %}
                <p class="product-status">Low in Stock!</p>
                <a href="{% url 'add_cart' product.id %}" class="btn add-to-card-button hvr-float-shadow">Add To Cart</a>
                {% else %}
                <a href="{% url 'add_cart' product.id %}" class="btn add-to-card-button hvr-float-shadow">Add To Cart</a>
                {% endif %}
                {% endif %}
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

    <!--Product Reviews-->
    <div class="card reviews-cart">
        <div class="card-header reviews-header">
            <h4 class="">Reviews</h4>
        </div>
        {% if user.is_authenticated %}
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="content" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success post-button">Post</button>
                </div>
            </form>
        </div>
        {% else %}
        {% endif %}

        {% if reviews.count > 0 %}
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
            <li class="list-group-item"><h5>{{review.user.username}}</h5>
            <p class="card-text">{{review.content}}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
