{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
Product 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <img class="product-image" src="{{product.image.url}}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <div>
                <h1 class="product-name">{{product.name}}</h1>
                <p class="product-price">${{product.price}}</p>
                <p class="product-details-text">Product Details</p>
                <p class="product-details">{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p class="product-status">Out Of Stock</p>
                {% else %}
                {% if product.stock <= 10 %}
                <p class="product-status">Low in Stock!</p>
                <a href="{% url 'add_cart' product.id %}" class="btn add-to-card-button hvr-float-shadow">Add To Cart</a>
                {% else %}
                <a href="{% url 'add_cart' product.id %}" class="btn add-to-card-button hvr-float-shadow">Add To Cart</a>
                {% endif %}
                {% endif %}
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

    <!--Product Reviews-->
    <div class="card">
        <div class="card-header">
            Reviews
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form group">
                    <textarea name="content" id="" cols="30" rows="10"></textarea>


                </div>

            </form>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
{% endblock %}
