{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} 
Create a New Account
{% endblock %}

{% block content %}

<div>
    {% if not form.is_valid %}
    <div class="mx-auto">
        <br><br><br><br>
        <div class="col-9 col-sm-9 col-md-6 col-lg- mx-auto">
            <br>
            <p class="new-account-text">Create A New Account</p>
            <form method="POST">
                {% csrf_token %}
                <p>{{ form | crispy }}</p>
                <button type="submit" name="button" class="btn registration-button hvr-float-shadow">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container mx-auto">
        <br><br><br><br>
        <div class="row">
          <img src="{% static 'images/welcome3.jpg' %}"  class="welcome-img"alt="">
        </div>
        <h2 class="welcome-message">Welcome to beauty bounty!</h2>
        <br><br>
        <a href="{% url 'all_products' %}">
               <button type="button" class="btn start-shopping-button hvr-float-shadow">Start Shopping!</button>
           </a>
    </div>
    {% endif %}
</div>
<br>
{% endblock %}