/* ------ CART -------- 
.thead-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white !important;
}

.shopping-cart-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 7px;
    padding-top: 5%;
}

.empty-cart-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.click-here-text {
    text-align: center;
}

.here-text {
    text-decoration: none;
}


/* -------- CHECKOUT -------
.total-price {
    text-align: center;
    font-size: 18px;
}


/* ------- BUTTONS -------- 
.stripe-button-el {
    background-color: black !important;
    color: white !important;
    margin-left: 50px;
    margin-top: 20px;
}

.stripe-button-el span { 
    height: 35px !important;
    background-color: black !important;
    color: white !important;
    font-family: "Quicksand", sans-serif !important;
    font-size: 16px !important;
}

.go-back-button {
    background-color: black;
    color: white;
    float: right;
    margin-right: 18%;
    margin-bottom: 20px;
}

.add-to-card-button {
    margin-left: 37%;
    background-color: black;
    color: white !important;
} */