@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.try {
    display: flex;
    padding-top: 5px;
}

/* -------- NAV -------- */
.navbar {
    background: url("../images/navbar5.jpg");
} 

.navbar-brand {
    text-align: center;
    font-size: 35px;
    font-family: "Great Vibes", fantasy;
    margin-left: 20px;
    color: #391066 !important;
}

.navbar-brand:hover {
    color: #481679;
    text-shadow: 0px 1px 1px #beb9b8;
}

.navbar li a {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.navbar-icons {
    display: flex;
    color: #391066 !important;
}

.free-delivery-banner {
    background-color: black;
    color: #fcdcf8;
}


/* ------- IMAGES --------*/
.welcome-img {
    width: 50%;
    margin-left: 25%;
    border-radius: 10%;   
}

.thank-you-img {
    width: 50%;
    margin-left: 25%;
    border-radius: 10%;
}

.home_div img {
    margin: 1px auto;
    width: 100%;
}

/* -------- BUTTONS ---------*/ 
.registration-button {
    background-color: black;
    color: white;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.start-shopping-button {
    background-color: #373238;
    text-decoration: none;
    color: white;
    margin-bottom: 5%;
}

.start-shopping-button:hover {
    background-color: #5b4b5e;
    
}
.stripe-button {
    background-color: blueviolet;
}

.new-account-button {
    background-color: black;
    color: white !important;
}

.login-button {
    justify-content: space-around;
    background-color: black;
    color: white !important;
}

.center-align {
    text-align: center;
}

.go-back-button-2 {
    background-color: black !important;
    color: white !important;
}

.start-shopping-button:hover,
.go-back-button:hover,
.registration-button:hover {
    color: white;
}

.post-button {
    background-color: #000000 !important;
    color: #fcdcf8 !important;

}

/* -------- ABOUT -------- */
.about-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 5px white;
}

.beauty-bounty-text {
    font-family: "Great Vibes", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #391066;
}

.about-paragraphs {
    font-size: 18px;
    text-align: center;
}

.have-fun-text {
    text-align: center;
    text-shadow: 0px 0px 1px rgb(109, 99, 108);
    margin-bottom: 5%;
}


/* --------- PRODUCTS --------- */
.product-name {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 20px;
    margin-right: 10%;
    margin-top: 120px;
}

.product-details-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 10%;
}

.product-details {
    text-align: center;
    padding-bottom: 5%;
}

.product-price {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 35px;
    margin-right: 10%;
}

.product-status {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #541e73;
    font-size: 22px;
}

.product-image {
width: 90%;
min-height: auto;
padding-top: 25%;
/* padding-bottom: 10%; */
background-size: cover;
}

.card-footer {
    text-align: center;
    background: transparent;
}

.all-products-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 35px;
    text-shadow: 0px 0px 1px #b0acab;
}


/* ------- COMPLETED ORDER PAGE ---------*/
.order-number-text,
.confirmation-text {
    text-align: center;
}

.click_here {
    text-decoration: none;
}

/* ------ HISTORY -------- */
.order-history-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5%;
    text-shadow: 0px 0px 1px #b0acab;
}

.table-t-head {
    font-size: 18px;
    text-shadow: 0px 0px 1px #ba70ff;
}

.status {
    color: green;
}

/* ------- VIEW ORDER --------*/
.view_order {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 6px;
   font-size: 30px; 
}

.td {
   text-align: center;
   font-size: 18px;
   text-shadow: 0px 0px 1px #5b4b5e;
}

/* ------- LOGIN & REGISTRATION ---------*/
.errorlist li {
    color: blue;
    font-weight: bold;
} 

.new-account-text,
.existing-customers-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5%;
}

.welcome-message {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 3%;
}

.existing-customers-text {
    text-align: center;
}

.register-now-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

/* -------- REVIEWS --------*/
.reviews-cart {
    margin-bottom: 5%;
    margin-top: 10%;
}

.reviews-header {
    background: url("../images/navbar5.jpg");
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

/* -------- FOOTER --------*/
footer {
   margin-top: auto;
   display: flex;  
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-color: #f8f0ff;
   color: black;
   text-align: center;
   padding-top: 30px; 
}


.contact-footer-text,
.connect-footer-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 5px white;
}

.connect-footer-text {
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 5px;
}

.contact-by-email {
    text-decoration: none;
    color: #391066;
}

.contact-by-email:hover{
    color: #511694;
    text-shadow: 0px 0px 1px #9e62d9;

}

.socials {
    display: flex;
}

.socials li a i {
    font-size: 30px;
    color: #391066;
    text-shadow: 0px 0px 1px #9e62d9;    
}

footer ul{
  justify-content:space-evenly;
  text-align:center;
}

footer ul li{
  display:inline-block;
 }

.socials li a i:hover{
    color: #541e73;
    text-shadow: 0px 0px 1px #982bd6;
}

/* ------ CART --------*/

.card-page {
    margin-bottom: 30px;
}

.thead-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white !important;
}

.shopping-cart-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 7px;
    padding-top: 5%;
}

.empty-cart-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.click-here-text {
    text-align: center;
}

.here-text {
    text-decoration: none;
}

.out-of-stock-text {
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #541e73;
}


/* -------- CHECKOUT -------*/
.total-price {
    text-align: center;
    font-size: 18px;
}


/* ------- BUTTONS -------- */
.stripe-button-el {
    background-color: black !important;
    color: white !important;
    margin-left: 50px;
    margin-top: 20px;
}

.stripe-button-el span { 
    height: 35px !important;
    background-color: black !important;
    color: white !important;
    font-family: "Quicksand", sans-serif !important;
    font-size: 16px !important;
}

.go-back-button {
    background-color: black;
    color: white;
    float: right;
    margin-right: 18%;
    margin-top: 18px;
}

.add-to-card-button {
    margin-left: 37%;
    background-color: black;
    color: white !important;
}


/* ------- MEDIA QUERIES ---------*/
@media only screen and (min-width: 768px) {

    .copyright {
    float: right;
    margin-right: 45px; 
}   
}

@media only screen and (max-width: 767px) { 

.product-name {
    margin-top: 30px;
}
}
