body {
    background-color: #f8f0ff; 
}

.try {
    background-color: blue;
}

/* -------- NAV -------- */
.navbar-brand {
    text-align: center;
}

/* -------- DROPDOWN MENU ---------*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
}

.dropdown-search-bar {
    display: none;
    position: absolute;
    min-width: 300px;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --------- PRODUCTS --------- */
.product-name {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 30%;
    padding-left: 20px;
    margin-right: 10%;
}

.product-details-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 10%;
    
}

.product-details {
    text-align: center;
    padding-bottom: 5%;
}

.product-price {
    text-align: center;
    padding-top: 10px;
    padding-left: 35px;
    margin-right: 10%;
}

.product-status {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
    padding-left: 40%;
}

.product-image {
width: 90%;
min-height: auto;
padding-top: 15%;
background-size: cover;
}

.card-footer {
    text-align: center;
    background: transparent;
    border-color: transparent;
}

.all-products-text {
    text-align: center;
}

/* ------ CART --------*/
.thead-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    background-color: white !important;

}


/* -------- FOOTER --------*/
footer {
   display: flex;  
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.copyright {
    text-align: left;
    /* padding-top: 5%; */
}

.about-footer-text,
.shopping-cart-text,
.contact-footer-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.connect-footer-text {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 5px;
}

.contact-by-email {
    text-decoration: none;
    color: #f8f0ff;
    text-shadow: 0px 0px 2px #d6a9fc;
}

.contact-by-email:hover{
    color: #d6a9fc;
}

.socials {
    display: flex;
}

.socials li a i {
    margin-left: 30px;
    /* padding-top: 10px; */
    font-size: 30px;
    color: #f8f0ff;
    text-shadow: 0px 1px 2px #d6a9fc;
    
}

.socials li a i:hover{
    color: #d6a9fc;
  
}

