@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

.try {
    display: flex;
    padding-top: 5px;
}

.vasilia {
    display: flex;
}

/* -------- NAV -------- */
.navbar {
    background-color: #f8f0ff !important;
}

.navbar-brand {
    text-align: center;
    font-size: 40px;
    font-family: "Great Vibes", fantasy;
    margin-left: 30px;
    color: #391066;
}

.navbar-brand:hover {
    color: #481679;
    text-shadow: 0px 1px 1px #beb9b8;
}

.navbar li a {
    color: black;
}

.navbar-icons {
    color: #391066 !important;
}

/* -------- DROPDOWN MENU ---------*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
}

.dropdown-search-bar {
    display: none;
    position: absolute;
    min-width: 300px;
}

.dropdown-content a {
  color: black !important;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -------- BUTTONS ---------*/ 
.registration-button {
    background-color: black;
    color: white;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.registration-button:hover {
    color: white;
}

.continue-shopping-button {
    background-color: black;
    text-decoration: none;
    color: white;
    margin-left: 40%;
}

.continue-shopping-button:hover {
    color: white;
}

.go-back-button {
    background-color: black;
    color: white;
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

.stripe-button {
    background-color: blueviolet;

}

.add-to-card-button,
.new-account-button {
    margin-left: 40%;
    background-color: black;
    color: white !important;
}

.login-button {
    margin-left: 45%;
    margin-top: 5%;
    background-color: black;
    color: white !important;
}



/* --------- PRODUCTS --------- */
.product-name {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 30%;
    padding-left: 20px;
    margin-right: 10%;
}

.product-details-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 10%;
}

.product-details {
    text-align: center;
    padding-bottom: 5%;
}

.product-price {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 35px;
    margin-right: 10%;
}

.product-status {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.product-image {
width: 90%;
min-height: auto;
padding-top: 25%;
padding-bottom: 10%;
background-size: cover;
}

.card-footer {
    text-align: center;
    background: transparent;
    border-color: transparent;
}

.all-products-text {
    text-align: center;
}

/* ------ CART --------*/
.thead-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white !important;
}

.shopping-cart-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 7px;
    padding-top: 5%;
}

.empty-cart-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* .go-back-href {
   text-align: center;
} */

.here-text {
    text-decoration: none;
}


/* -------- CHECKOUT -------*/
.total-price {
    text-align: center;
    font-size: 18px;
}

/* ------- REGISTRATION FORM ---------*/
.errorlist li {
    color: blue;
    font-weight: bold;
} 

.new-account-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5%;
}

.success-message {
    text-align: center;
    text-transform: capitalize;
}

/* -------- LOGIN FORM --------*/
.existing-customers-text {
    text-align: center;
    margin-top: 10%;
}

.text-center {
    margin-top: 7%;
}

/* -------- FOOTER --------*/
footer {
   display: flex;  
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-color: #f8f0ff;
   color: black;
   text-align: center;
   padding-top: 50px;
}

.copyright {
    margin-right: 45px;
    float: right;
}

.beauty-bounty-text {
    font-family: "Great Vibes", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #391066;
}

.beauty-bounty-text:hover {
    color: #602997;
    text-shadow: 0px 1px 0px #b0acab;
}

.about-footer-text,
.contact-footer-text,
.connect-footer-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 5px white;
}

.connect-footer-text {
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 5px;
}

.contact-by-email {
    text-decoration: none;
    color: #391066;
}

.contact-by-email:hover{
    color: #511694;
    text-shadow: 0px 0px 1px #9e62d9;

}

.socials {
    display: flex;
}

.socials li a i {
    margin-left: 60px;
    font-size: 30px;
    color: #391066;
    text-shadow: 0px 0px 1px #9e62d9;
    
}

.socials li a i:hover{
    color: #541e73;
    text-shadow: 0px 0px 1px #982bd6;
}

