{% extends 'base.html' %}
{% load static %}
{% block title %} 
Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <img src="{% static 'images/home.gif' %}" style="width: 100%" alt="">
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto my-2">
                 <h1 class="all-products-text">All Products</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-6 mx-auto col-md-4 col-lg-3">
            <!-- <div class="card"> -->
            <div>
                <div class="py-2">
                  <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                </div>
                <div class="card-footer">
                    <p>{{product.name}}</p>
                    <h5 class="price-tag">${{product.price}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}