{% extends 'base.html' %}
{% load static %}
{% block title %} 
Product 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-lg-6 col-md-6">
            <img class="product-image" src="{{product.image.url}}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <div>
                <h1 class="product-name">{{product.name}}</h1>
                <p class="product-price">${{product.price}}</p>
                <p class="product-details-text">Product Details</p>
                <p class="product-details">{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p class="product-status">Out Of Stock</p>
                {% else %}
                <a href="">Add To Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
